* {
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Header */

.header {
    font-size: clamp(18px, 2vw, 24px);
    color: #F9FAF8;
    background-color: #1c2531;
    display: flex;
    justify-content: space-between;
    padding: 0 15vw;
}

.header p {
    font-weight: 800;
}

.header ul{
    list-style: none;
}

.header li {
    display: inline-block;
    margin-right: 2vw;
    font-size: clamp(10px, 2vw, 18px);
    color: #E5E7EB;
}

.header li a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Hero */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 15vw;
    padding-bottom: 100px;
    background-color: #1F2937;
    color: #F9FAF8;
    flex-wrap: wrap;
}

.hero-text {

    font-size: clamp(10px, 2vw, 18px);
    color: #E5E7EB;
    width: 20vw;
    max-width: 100%;
}

.hero img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.hero button {
    background-color: #2196F3;
    color: #F9FAF8;
    font-weight: 800;
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
    background-color: #80868f;
    max-width: 30vw;
    min-width: 15vw;
    margin-right: 1vw;
}

/* Information */

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
    background-color: #fff;
}

.items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5vw;
    padding: 2vw;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item-description {
    font-size: clamp(10px, 2vw, 16px);
    color: #333;
    max-width: 10vw;
}

.item1, .item2, .item3, .item4 {
    border: 0.2vw #2196F3 solid;
    border-radius: 1rem;
    width: clamp(50px, 20vw, 150px);
    height: clamp(50px, 20vh, 150px);
}

/* Quote */

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: #E5E7EB;
}

.quote-text {
    font-size: clamp(14px, 2vw, 36px);
    color: #1F2937;
    font-weight: 300;
    max-width: 45vw;
}

.quote-author {
    font-size: clamp(15px, 2vw, 24px);
    color: #202020;
    margin-left: 30vw;
    margin-top: -2vw;
}

/* Call to Action */


.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    background-color: #fff;
}

.CTA {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 5vw;
    background-color: #2196F3;
    border-radius: 1rem;
    color: #fff;
    gap: 15vw;
    margin: 2vw 0;
}

.CTA button{
    color: #fff;
    background-color: #2196F3;
    font-weight: 800;
    border: 0.1vw solid #fff;
    font-size: clamp(16px, 2vw, 16px);
    padding: 8px 25px;
    border-radius: 5px;
    cursor: pointer;
}
.cta-container p {
    margin-top: -1vw;
}
.cta-container h1 {
    font-size: clamp(16px, 2vw, 24px);
    color: #fff;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
    background-color: #1c2531;
    color: #E5E7EB;
}